{% extends "base/base.html" %}
{% block header_content %}
  {% include 'base/header.html' %}
{% endblock %}
{% block footer_content %}
  {% include 'base/foot.html' %}
{% endblock %}
{% block main_content %}
<div class="titleBtn mb-3">
  <h1>Agregar Nuevo Estudiante</h1>
  <a class="btn btn-outline-danger heightBtn" href="/persona/estudiante_lista">
    {% include "icon/back.html" %} Volver
  </a>
</div>

<form
  class="row"
  name="formulario"
  onsubmit="return validacion()"
  method="post"
>
  <div class="mb-3 col-md-6">
    <label for="{{ form_estudiante.matricula.id_for_label }}" class="form-label"
      >Matrícula</label
    >
    {{form_estudiante.matricula}} {{form_estudiante.matricula.errors}}
  </div>
  <div class="mb-3 col-md-6">
    <label for="{{ form_persona.dni.id_for_label }}" class="form-label"
      >DNI</label
    >
    {{form_persona.dni}} {{form_persona.dni.errors}}
  </div>
  <div class="mb-3 col-md-6">
    <label
      for="{{ form_persona.apellido.id_for_label }}"
      class="form-label"
      >Apellido</label
    >
    {{form_persona.apellido}} {{form_persona.apellido.errors}}
  </div>
  <div class="mb-3 col-md-6">
    <label
      for="{{ form_persona.nombre.id_for_label }}"
      class="form-label"
      >Nombre</label
    >
    {{form_persona.nombre}} {{form_persona.nombre.errors}}
  </div>
  <div class="mb-3 col-md-6">
    <label for="{{ form_persona.sexo.id_for_label }}" class="form-label"
      >Sexo</label
    >
    {{form_persona.sexo}} {{form_persona.sexo.errors}}
  </div>
  <div class="mb-3 col-md-6">
    <label
      for="{{ form_persona.fecha_nacimiento.id_for_label }}"
      class="form-label"
      >Fecha de Nacimiento</label
    >
    {{form_persona.fecha_nacimiento}} {{form_persona.fecha_nacimiento.errors}}
  </div>
  <div class="mb-3 col-md-12">
    <label for="{{ form_persona.mail.id_for_label }}" class="form-label"
      >Correo Electrónico</label
    >
    {{form_persona.mail}} {{form_persona.mail.errors}}
  </div>
  <div class="mb-3 col-md-12">
    <label for="{{ form_persona.domicilio.id_for_label }}" class="form-label"
      >Domicilio</label
    >
    {{form_persona.domicilio}} {{form_persona.domicilio.errors}}
  </div>

  {% csrf_token %}
  <div class="col-12">
    <button type="submit" class="btn btn-success">
      {% include "icon/save.html" %} Guardar
    </button>
  </div>
</form>
{% endblock %}
