{% extends "base/base.html" %}
{% block header_content %}
    {% include 'base/header.html' %}
{% endblock %}
{% block footer_content %}
    {% include 'base/foot.html' %}
{% endblock %}

{% block main_content %}

      <div class="titleBtn mb-3">
        <h1>Listado de Docentes</h1>
        <a
          class="btn btn-outline-success heightBtn"
          href="docente_crear"
        >
          {% include "icon/plus.html" %}
          Crear nuevo
        </a>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">CUIL</th>
            <th scope="col">DNI</th>
            <th scope="col">Apellido y Nombre</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>

        {% if docentes %}
            {% for docente in docentes %}
                <tr>
                    <td>{{ docente.cuil }}</td>
                    <td>{{ docente.persona.dni }}</td>
                    <td>{{ docente.persona.apellido }}, {{ docente.persona.nombre }}</td>
                    <td>{{ docente.persona.mail }}</td>
                    <!--<td>{{ estudiante.persona.get_sexo_display }}</td>
                    <td>{{ estudiante.fecha_nacimiento|date:"SHORT_DATE_FORMAT" }}</td>-->
                    <td>
                      <a
                        class="btn btn-outline-primary heightBtn"
                        href="docente_{{ docente.id }}"
                      >
                        {% include "icon/search.html" %}
                      </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" style="text-align: center">No se encontraron registros</td>
            </tr>
        {% endif %}

        </tbody>
      </table>
{% endblock %}